body {
  font-family: Arial, sans-serif;
  background-color: #292626;
  color: #fdf9f9;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.jumbotron {
  font-family: "Radley", serif;
  background-image: url("/images/woodbackground.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.container .carousel {
  margin-top: 15px;
  box-shadow: 2px 2px 5px #fff;
}

/* Styling for the main ordered list */
ol {
  padding-left: 20px;
}

/* Styling for nested unordered lists */
ol li ul {
  list-style-type: disc; 
  padding-left: 20px;
}

/* Gallery page styling */

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Page Fade In */

body.fade-in {
  opacity: 1;
}
